


.background{color: blue


}
 


.mbuliso{background-color: coral;
font-size: 90px;
font-style: bold;
font-display: lime;
text-align: center;
border: black;
}

.greetBtn{
border: blueviolet;
display:
}   
